workflows/llm-router-subworkflow.json
{
  "name": "LLM Router Sub-Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234560001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0001-4000-8000-000000001001",
              "name": "task_type",
              "value": "={{ $json.task_type || 'general' }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-0001-4000-8000-000000001002",
              "name": "user_message",
              "value": "={{ $json.user_message }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-0001-4000-8000-000000001003",
              "name": "context",
              "value": "={{ $json.context || '' }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-0001-4000-8000-000000001004",
              "name": "brand_voice",
              "value": "={{ $env.BRAND_VOICE || 'professional and friendly' }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-0001-4000-8000-000000001005",
              "name": "client_id",
              "value": "={{ $env.CLIENT_ID || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-0001-4000-8000-000000001006",
              "name": "client_name",
              "value": "={{ $env.CLIENT_NAME || 'our client' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234560002",
      "name": "Parse Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build system prompt with brand voice injection\nconst brandVoice = $input.first().json.brand_voice;\nconst context = $input.first().json.context;\nconst userMessage = $input.first().json.user_message;\nconst clientName = $input.first().json.client_name;\n\nconst systemPrompt = `You are a helpful assistant for ${clientName}. Brand voice: ${brandVoice}. Be concise, accurate, and match the brand voice exactly. Do not make up information. If unsure, say so.`;\n\n// For Ollama, use a combined prompt (no system/user split)\nconst ollamaPrompt = context\n  ? `${systemPrompt}\\n\\nContext: ${context}\\n\\nUser: ${userMessage}\\n\\nAssistant:`\n  : `${systemPrompt}\\n\\nUser: ${userMessage}\\n\\nAssistant:`;\n\nreturn {\n  system_prompt: systemPrompt,\n  ollama_prompt: ollamaPrompt,\n  user_message: userMessage,\n  task_type: $input.first().json.task_type,\n  brand_voice: brandVoice,\n  client_id: $input.first().json.client_id\n};"
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234560003",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.task_type }}",
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.task_type }}",
                    "rightValue": "routine",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.task_type }}",
                    "rightValue": "analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.task_type }}",
                    "rightValue": "quick",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234560004",
      "name": "Route by Task Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL || 'http://host.docker.internal:11434' }}/api/generate",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"llama3.2:latest\",\n  \"prompt\": \"{{ $json.ollama_prompt }}\",\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"num_predict\": 1024\n  }\n}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "retryOnFail": {
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234560010",
      "name": "Ollama Local (Routine)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 30],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SILICONFLOW_BASE_URL || 'https://api.siliconflow.cn/v1' }}/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"Qwen/Qwen2.5-7B-Instruct\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"{{ $json.system_prompt }}\"},\n    {\"role\": \"user\", \"content\": \"{{ $json.user_message }}\"}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1024\n}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "retryOnFail": {
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234560011",
      "name": "SiliconFlow Qwen (Quick)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 210],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SILICONFLOW_BASE_URL || 'https://api.siliconflow.cn/v1' }}/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"deepseek-ai/DeepSeek-V3\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"{{ $json.system_prompt }}\"},\n    {\"role\": \"user\", \"content\": \"{{ $json.user_message }}\"}\n  ],\n  \"temperature\": 0.6,\n  \"max_tokens\": 4096\n}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "retryOnFail": {
            "maxTries": 3,
            "waitBetweenTries": 3000
          }
        }
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234560020",
      "name": "SiliconFlow DeepSeek (Analysis)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 390],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ANTHROPIC_BASE_URL || 'https://api.anthropic.com/v1' }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 4096,\n  \"temperature\": 0.6,\n  \"system\": \"{{ $json.system_prompt }}\",\n  \"messages\": [\n    {\"role\": \"user\", \"content\": \"{{ $json.user_message }}\"}\n  ]\n}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "retryOnFail": {
            "maxTries": 3,
            "waitBetweenTries": 3000
          }
        }
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234560021",
      "name": "Anthropic Claude (Complex)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 570],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GROK_BASE_URL || 'https://api.x.ai/v1' }}/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"grok-2-latest\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"{{ $json.system_prompt }}\"},\n    {\"role\": \"user\", \"content\": \"{{ $json.user_message }}\"}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 2048\n}",
        "options": {
          "timeout": 90000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "retryOnFail": {
            "maxTries": 3,
            "waitBetweenTries": 3000
          }
        }
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234560030",
      "name": "Grok (Fallback)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 750],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Normalize LLM responses and implement fallback cascade\n// If primary provider returned an error, try the fallback\nconst items = $input.all();\nconst normalized = [];\n\nfor (const item of items) {\n  let responseText = '';\n  let provider = 'unknown';\n  let model = 'unknown';\n  let tokensUsed = 0;\n  let costEstimate = 0;\n\n  // ── Ollama response format ──\n  if (item.json.response && typeof item.json.response === 'string') {\n    provider = 'ollama';\n    model = item.json.model || 'llama3.2';\n    responseText = item.json.response;\n    tokensUsed = (item.json.eval_count || 0) + (item.json.prompt_eval_count || 0);\n    costEstimate = 0;\n  }\n  // ── Anthropic Claude response format ──\n  else if (item.json.content && Array.isArray(item.json.content)) {\n    provider = 'anthropic';\n    model = item.json.model || 'claude-3-5-sonnet';\n    const textBlocks = item.json.content.filter(b => b.type === 'text');\n    responseText = textBlocks.map(b => b.text).join('\\n');\n    tokensUsed = (item.json.usage?.input_tokens || 0) + (item.json.usage?.output_tokens || 0);\n    costEstimate = (tokensUsed / 1000) * 0.015;\n  }\n  // ── OpenAI-compatible format (SiliconFlow, Grok, OpenAI) ──\n  else if (item.json.choices && Array.isArray(item.json.choices) && item.json.choices.length > 0) {\n    if (item.json.model && item.json.model.includes('grok')) {\n      provider = 'grok';\n      model = item.json.model;\n      costEstimate = (tokensUsed / 1000) * 0.003;\n    } else if (item.json.model && item.json.model.includes('Qwen')) {\n      provider = 'siliconflow';\n      model = item.json.model;\n      costEstimate = (tokensUsed / 1000) * 0.0007;\n    } else if (item.json.model && item.json.model.includes('deepseek') || item.json.model && item.json.model.includes('DeepSeek')) {\n      provider = 'siliconflow';\n      model = item.json.model || 'deepseek-v3';\n      costEstimate = (tokensUsed / 1000) * 0.0014;\n    } else {\n      provider = 'openai-compatible';\n      model = item.json.model || 'unknown';\n    }\n    const choice = item.json.choices[0];\n    responseText = choice.message?.content || choice.text || '';\n    tokensUsed = item.json.usage?.total_tokens || 0;\n  }\n  // ── Error response ──\n  else if (item.json.error) {\n    provider = 'error';\n    model = 'failed';\n    responseText = `[LLM Error: ${item.json.error.message || JSON.stringify(item.json.error)}]`;\n  }\n  // ── String response ──\n  else if (typeof item.json === 'string') {\n    responseText = item.json;\n    provider = 'raw-string';\n  }\n\n  normalized.push({\n    json: {\n      success: responseText.length > 0 && !responseText.startsWith('[LLM Error'),\n      provider: provider,\n      model: model,\n      response: responseText,\n      tokens_used: tokensUsed,\n      cost_estimate: Math.round(costEstimate * 100000) / 100000,\n      task_type: item.json.task_type || $('Parse Input').item.json.task_type,\n      client_id: item.json.client_id || $('Parse Input').item.json.client_id\n    }\n  });\n}\n\nreturn normalized;"
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234560040",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234560080",
      "name": "No Matching Route",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1.1,
      "position": [1050, 930]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb-a",
              "name": "success",
              "value": "false",
              "type": "boolean"
            },
            {
              "id": "fb-b",
              "name": "provider",
              "value": "no-route",
              "type": "string"
            },
            {
              "id": "fb-c",
              "name": "response",
              "value": "={{ 'No LLM route matched for task_type: ' + ($json.task_type || 'unknown') + '. Please add this task type to the Switch node.' }}",
              "type": "string"
            },
            {
              "id": "fb-d",
              "name": "task_type",
              "value": "={{ $json.task_type }}",
              "type": "string"
            },
            {
              "id": "fb-e",
              "name": "client_id",
              "value": "={{ $env.CLIENT_ID }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234560090",
      "name": "No-Route Fallback",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 900]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Route by Task Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Task Type": {
      "main": [
        [
          {
            "node": "Ollama Local (Routine)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SiliconFlow DeepSeek (Analysis)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SiliconFlow Qwen (Quick)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Matching Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Local (Routine)": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SiliconFlow Qwen (Quick)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SiliconFlow Qwen (Quick)": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grok (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SiliconFlow DeepSeek (Analysis)": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anthropic Claude (Complex)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Claude (Complex)": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grok (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grok (Fallback)": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Matching Route": {
      "main": [
        [
          {
            "node": "No-Route Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No-Route Fallback": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "timezone": "={{ $env.TZ || 'Australia/Sydney' }}"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "2.0.0",
  "active": false
}
